<app-nav-bar></app-nav-bar>
<div class="container-fluid d-flex justify-content-center mt-5">
  <div class="card p-3 border-0 rounded-3 shadow-lg w-100 w-sm-80 w-md-50" style="max-width: 800px; height: 30vh;">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="text-center mb-4 pt-2">Bienvenido a nuestra tienda!!!</h1>
      <div class="text-center">
        <p>Si quieres encontrar variedades de ropa de todo tipo! esta es tu tienda!!!</p>
        <p>A continuación enseñaremos una pequeña demostración de algunas de ellas</p>
      </div>
    </div>
  </div>
</div>

<section class="background-muestras h-100">

  <div class="text-center pt-3 mt-4 mx-4 ">
    <h1>Algunos de nuestros ejemplares</h1>
  </div>

  <div class="text-center pt-5 mt-4 d-flex justify-content-center">
    <div class="card mx-3" style="width: 18rem;">
      <img src="https://cdn.shopify.com/s/files/1/1567/6841/products/Capturadepantalla2022-02-28alas19.39.35.png?v=1646073635" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card mx-3" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card mx-3" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</section>



<button (click)="cerrarSesion()">adios xd</button>
