<div class=" m-3">
  <a class="h1 text-decoration-none text-dark font-weight-bold" routerLink="/Menu">MenaShop</a>
</div>

<div class="container-fluid d-flex align-items-center mx-auto">
  <div class="d-flex justify-content-center w-100">
    <form [formGroup]="formUsuario"
      class="col-sm-10 col-md-8 col-lg-6 shadow rounded-lg p-4 d-flex flex-column justify-content-center align-items-center text-center mx-3">
      <h3 class="text-center mb-3">Registrarse</h3>
      <div class="formGroup mb-3">
        <input [(ngModel)]="email" (input)="validarEmail()" formControlName="email" type="text"
          class="formControl rounded-pill py-2 px-3" placeholder="Correo" #userEmail required>
        <div *ngIf="!validarEmail()" class="text-danger">El correo solo puede contener letras, números y espacios.</div>
      </div>
      <div class="formGroup mb-3">
        <input [(ngModel)]="contrasena" (input)="validarContrasena()" type="password"
          maxlength="5" class="formControl rounded-pill py-2 px-3" placeholder="Password" #userPassword required>
        <div *ngIf="!validarContrasena()" class="text-danger">La contraseña solo puede contener letras y números.
        </div>
      </div>
      <div class="mb-3 form-group">
        <input [(ngModel)]="nombre" (input)="validarNombre()" class="rounded-pill p-2" placeholder="Nombre" type="text"
          formControlName="nombre" id="publico">
        <div *ngIf="!validarNombre()" class="text-danger">El nombre solo puede contener letras.
        </div>

      </div>
      <div class="mb-3 form-group">
        <input [(ngModel)]="apellidos" (input)="validarApellidos()" class="rounded-pill p-2" placeholder="Apellidos"
          type="text" formControlName="apellidos" id="publico">
        <div *ngIf="!validarApellidos()" class="text-danger">El apellido solo puede contener letras.
        </div>

      </div>
      <div class="col text-center mb-3">
        <input [(ngModel)]="telefono" (input)="validarTelefono()" class="rounded-pill p-2" placeholder="telefono"
          maxlength="9" type="text" formControlName="telefono" id="publico">
        <div *ngIf="!validarTelefono()" class="text-danger">El apellido solo puede contener letras.
        </div>
      </div>
      <div class="formGroup">
        <button class="rounded-pill pt-2 pb-2 px-5" type="button"
          (click)="Registrarse(userEmail.value, userPassword.value)">entrar</button>

      </div>
      <div class="mt-3 text-center">
        <a routerLink="/login">Si ya tienes cuenta pulsa aqui</a>
      </div>
    </form>
  </div>
</div>
<p class="text-danger">{{ myText }}</p>
