<app-nav-bar></app-nav-bar>


<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Busca" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource">
  <!-- Additional list data -->
  <ng-container matColumnDef="listData">
    <td mat-cell *matCellDef="let element" colspan="4" class="mb-0 pb-0">
      <ol class="list-group shadow-none">
        <li class="list-group-item d-flex justify-content-between align-items-start p-0">
          <div class="d-flex flex-wrap align-items-center pb-0">
            <img [src]="element.url" height="100" width="100" class="me-3 mb-0">
            <div>
              <div class="fw-bold">Nombre - {{ element.nombre }}</div>
              <div class="fw-bold">Marca - {{ element.marca }}</div>
              <div class="fw-bold">Precio - {{ element.precio }} €</div>
            </div>
          </div>
          <div class="ms-auto">
            <a class="btn btn-primary mt-0" [routerLink]="'/DetallesBotines/' + element.documentId">Ver detalles</a>
          </div>
        </li>
      </ol>

    </td>
  </ng-container>
</table>


