<app-nav-bar></app-nav-bar>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex flex-column text-center">
    <div class="d-flex flex-column align-items-center my-4">
      <img src="{{ detF.url }}" alt="Imagen del producto" class="rounded" style="max-width: 200px; max-height: 200px;">
      <div class="fw-bold mt-3">Nombre - {{detF.nombre}}</div>
      <div class="fw-bold">Marca - {{detF.marca}}</div>
      <div class="fw-bold">Precio - {{detF.precio}}</div>
      <i *ngIf="this.rol !== null">
        <button (click)="Favoritos()" class="btn btn-primary mt-3">Añadir al carrito</button>
        <input maxlength="2" type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" class="form-control mt-2" min="0" pattern="[0-9]+">
      </i>
      <h3>{{anadido}}</h3>
    </div>
  </div>
</div>

