<app-nav-bar></app-nav-bar>
<div class="mx-3 mb-4">
  <h1>Tu Carrito</h1>
</div>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let c of datosCarrito; let i = index">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Nombre - {{c.nombre}}</div>
      <div class="fw-bold">Precio - {{c.precio}}</div>
      <div class="fw-bold">Marca - {{c.marca}}</div>
      <div class="fw-bold">Cantidad - {{c.cantidad}}</div>
    </div>
    <button class="btn btn-danger" (click)="deleteItem(i)">Eliminar</button>
  </li>
</ol>
<span></span>
<h3>Total a pagar: {{suma}}€</h3>
<button (click)="sumar()">Pagar</button>
