<div class="bg-center" data-aos="zoom-in">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 text-center">
        <h1 class="font-weight-bold" data-aos="fade-down-right" data-aos-delay="1000">Tienda Men'as</h1>
        <h2 class="font-weight-bold" data-aos="fade-down-right" data-aos-delay="1000">La mejor tienda de ropa que existe
        </h2>
        <a routerLink="/Menu" class="btn btn-primary" data-aos="zoom-in-up" data-aos-delay="1300">Empieza a comprar!!</a>
      </div>
    </div>
  </div>
</div>
