<app-nav-bar />
<div class=" m-3 text-center">
  <h1>Opciones de administrador</h1>
</div>
<div class="m-4 text-center">
  <div class="mb-5">
    <a class="container mb-3 p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="/usuarioCRUD">Usuario</a>
  </div>
  <div class="mb-5">
    <a class="container mb-3 p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="/botinesCRUD">Botines</a>
  </div>
  <div class="mb-5">
    <a class="container p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="/pantalonesCRUD">Pantalones</a>
  </div>
  <div class="mb-5">
    <a class="container p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="/camisetasCRUD">Camisetas</a>
  </div>
</div>
