<!-- HTML -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-4" href="#">
    MENA'SHOP
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <!-- No esta logueado -->
    <ul class="navbar-nav" *ngIf="estado == 'b'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaBotines">Botines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaCamisetas">Camisetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaPantalones">Pantalones</a>
      </li>
      <i *ngIf="this.rol == '2'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/crudselector">Administrador</a>
        </li>
      </i>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-person-fill"></i>
        </a>
      </li>
    </ul>
    <!-- Esta logueado -->
    <ul class="navbar-nav" *ngIf="estado == 'a'">
      <li class="nav-item">
        <a class="nav-link">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-transparent" (click)="cerrarSesion()">Cerrar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaBotines">Botines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaCamisetas">Camisetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListaPantalones">Pantalones</a>
      </li>

      <i *ngIf="this.rol == '2'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/crudselector">Administrador</a>
        </li>
      </i>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carrito">Carrito</a>
      </li>

    </ul>
  </div>
</nav>
