<div class=" m-3 text-center">
  <h1>CRUD Usuario</h1>
</div>
<div class="m-4 text-center">
  <div class="mb-5">
    <a class="container mb-3 p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="VerUsuarios">Ver usuarios</a>
  </div>
  <div class="mb-5">
    <a class="container mb-3 p-3 rounded shadow bg-light mw-25 w-25 text-center" routerLink="CrearUsuarios">Crear Usuarios</a>
  </div>
  <div class="text-center">
    <button class="btn btn-dark btn-lg m-2 px-5 text-light" (click)="irAtras()" type="submit">Ir atras</button>
  </div>
</div>
