<div class=" m-3">
  <a class="h1 text-decoration-none text-dark font-weight-bold" routerLink="/Menu">MenaShop</a>
</div>

<div class="container-fluid d-flex align-items-center mx-auto">
  <div class="d-flex justify-content-center w-100">
    <div
      class="col-sm-10 col-md-8 col-lg-6 shadow rounded-lg p-4 d-flex flex-column justify-content-center align-items-center text-center mx-3">
      <h3 class="text-center mb-3">Login</h3>
      <div class="mb-3 form-group">
        <input [(ngModel)]="email" (input)="validarEmail()" class="rounded-pill py-2 px-3 form-control"
          placeholder="Correo" type="text" #userEmail required>
        <div *ngIf="!validarEmail()" class="text-danger">El correo solo puede contener letras y numeros</div>
      </div>
      <div class="mb-3 form-group">
        <input [(ngModel)]="contrasena" (input)="validarContrasena()" class="rounded-pill py-2 px-3 form-control"
          maxlength="10" placeholder="Contraseña" type="password" #userPassword required>
        <div *ngIf="!validarContrasena()" class="text-danger">La contraseña solo puede contener letras y números.
        </div>
        <div class="col text-center mt-3">
          <button class="rounded-pill pt-2 pb-2 px-5" type="button"
            (click)="Loguearse(userEmail.value, userPassword.value)">entrar</button>
        </div>
        <div class="mt-3 text-center">
          <a routerLink="/registro">Registrarse</a>
        </div>
        <div class="mt-3 text-center">
          <a routerLink="/recuperarContraseña">¿Has olvidado la contraseña?</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-2">
    <h4>{{contrasenaInc}}</h4>
  </div>
