<section>
  <div class="text-center mt-5">
    <h1>Editar Botin</h1>
    <p>En este apartado podras editar al botin seleccionado</p>
  </div>
</section>
<section class="m-5">
  <div class=" m-5">
    <form class="text-center" [formGroup]="formCamisetas" (submit)="EditarDatos()">
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="nombre">
      </div>
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Marca" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="marca">
      </div>
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Precio" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="precio">
      </div>
      <button class="btn btn-primary btn-lg m-2" (click)="Favoritos()">Añadir a carrito</button>
      <button class="btn btn-primary btn-lg m-2" (click)="ActualizarDatos()">Registrar cambios</button>
      <button class="btn btn-primary btn-lg m-2" (click)="Eliminar()">Eliminar Camiseta</button>
    </form>
  </div>
</section>
