<ol class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let c of camisetasLista">
    <div class="d-flex flex-wrap align-items-center">
      <img src="{{c.url}}" height="100" width="100" class="me-3 mb-3">
      <div>
        <div class="fw-bold">Nombre - {{c.nombre}}</div>
        <div class="fw-bold">Marca - {{c.marca}}</div>
        <div class="fw-bold">Precio - {{c.precio}} €</div>
      </div>
    </div>
    <div class="ms-auto">
      <a class="btn btn-primary mt-3 mt-md-0" [routerLink]="'/EditarBotines/' + c.documentId">Editar</a>
    </div>
  </li>
</ol>
<div class="text-center mt-3">
  <button class="btn btn-dark btn-lg m-2 px-5 text-light" (click)="irAtras()" type="submit">Ir atras</button>
</div>
